## ML_Zoomcamp_HW_2

### Dataset

In this notebook, we will use the Car price dataset.
So first we download the dataset.

In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-10-01 01:43:11--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv'

     0K .......... .......... .......... .......... ..........  3%  399K 3s
    50K .......... .......... .......... .......... ..........  6%  375K 3s
   100K .......... .......... .......... .......... .......... 10%  594K 3s
   150K .......... .......... .......... .......... .......... 13%  773K 3s
   200K .......... .......... .......... .......... .......... 17% 1.10M 2s
   250K .......... .......... .......... .......... .......... 20%  684K 2s
   300K .......... .......... .......... .......... .......... 24%  973K 2s
   350K .......... .......... .......... .......... .......... 27%  727K 2s
   400K .......... .......... .......... .......... .......... 31%  826K 2s
   450K .......... .......... .......... .......... .......... 34% 1.21M 1s
   500K .......... .......... .......... .......... .......... 38%  683K 1s
   550K .......... .......... .......... .......... .......... 41% 1.52M 1s
   600K .......... .......... .......... .......... .......... 45%  939K 1s
   650K .......... .......... .......... .......... .......... 48% 1.16M 1s
   700K .......... .......... .......... .......... .......... 52% 1.36M 1s
   750K .......... .......... .......... .......... .......... 55%  664K 1s
   800K .......... .......... .......... .......... .......... 58%  445K 1s
   850K .......... .......... .......... .......... .......... 62%  954K 1s
   900K .......... .......... .......... .......... .......... 65%  472K 1s
   950K .......... .......... .......... .......... .......... 69% 1.15M 1s
  1000K .......... .......... .......... .......... .......... 72% 1.22M 1s
  1050K .......... .......... .......... .......... .......... 76%  633K 0s
  1100K .......... .......... .......... .......... .......... 79% 1.04M 0s
  1150K .......... .......... .......... .......... .......... 83% 1.34M 0s
  1200K .......... .......... .......... .......... .......... 86% 1.52M 0s
  1250K .......... .......... .......... .......... .......... 90% 1.47M 0s
  1300K .......... .......... .......... .......... .......... 93%  573K 0s
  1350K .......... .......... .......... .......... .......... 97%  419K 0s
  1400K .......... .......... .......... ..........           100%  641K=1.9s

2023-10-01 01:43:14 (755 KB/s) - 'data.csv' saved [1475504/1475504]

We'll keep working with the MSRP variable, and we'll transform it to a classification task.

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# First we need to read the csv into a Dataframe
data = pd.read_csv('data.csv')
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Features
For the rest of the homework, you'll need to use only these columns:

- Make
- Model
- Year
- Engine HP
- Engine Cylinders
- Transmission Type
- Vehicle Style
- highway MPG
- city mpg

### Data Preparation

We select only the features from above and transform their names
data.columns = data.columns.str.replace(' ', '_').str.lower()
Fill in the missing values of the selected features with 0.
Rename MSRP variable to price.

In [3]:
data.columns = data.columns.str.replace(' ', '_').str.lower()
df = data.rename(columns={'msrp': 'price'}).copy()
df.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'price'],
      dtype='object')

In [4]:
print(df.isnull().sum())
print()
df.fillna(0, inplace=True)
print(df.isnull().sum())

make                    0
model                   0
year                    0
engine_fuel_type        3
engine_hp              69
engine_cylinders       30
transmission_type       0
driven_wheels           0
number_of_doors         6
market_category      3742
vehicle_size            0
vehicle_style           0
highway_mpg             0
city_mpg                0
popularity              0
price                   0
dtype: int64

make                 0
model                0
year                 0
engine_fuel_type     0
engine_hp            0
engine_cylinders     0
transmission_type    0
driven_wheels        0
number_of_doors      0
market_category      0
vehicle_size         0
vehicle_style        0
highway_mpg          0
city_mpg             0
popularity           0
price                0
dtype: int64

In [5]:
columns_to_use = ['make', 'model', 'year', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'vehicle_style',
       'highway_mpg', 'city_mpg']

In [6]:
df_car = df[columns_to_use].copy()
df_car.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18

Question 1

What is the most frequent observation (mode) for the column transmission_type?

- AUTOMATIC
- MANUAL
- AUTOMATED_MANUAL
- DIRECT_DRIVE

In [7]:
df_car.transmission_type.value_counts().index[0]

'AUTOMATIC'

Question 2

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

- engine_hp and year
- engine_hp and engine_cylinders
- highway_mpg and engine_cylinders
- highway_mpg and city_mpg

In [8]:
df_car.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [9]:
numerical = [x for x in df_car.columns if df_car[x].dtype != 'O']
numerical

['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [10]:
corr_numerical = df_car[numerical].corr().abs()
corr_numerical = corr_numerical.unstack()
sorted_corr = corr_numerical.sort_values(kind="quicksort")
sorted_corr[-10:]

highway_mpg       engine_cylinders    0.614541
engine_hp         engine_cylinders    0.774851
engine_cylinders  engine_hp           0.774851
city_mpg          highway_mpg         0.886829
highway_mpg       city_mpg            0.886829
year              year                1.000000
engine_cylinders  engine_cylinders    1.000000
engine_hp         engine_hp           1.000000
highway_mpg       highway_mpg         1.000000
city_mpg          city_mpg            1.000000
dtype: float64

highway_mpg and city_mpg have the highest correlation of 0.88 which is very strong

### Make price binary

Now we need to turn the price variable from numeric into a binary format.

Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [11]:
prices = (df.price > df.price.mean()).astype('int')
prices

0        1
1        1
2        0
3        0
4        0
        ..
11909    1
11910    1
11911    1
11912    1
11913    0
Name: price, Length: 11914, dtype: int32

### Split the data

Split your data in train/val/test sets with 60%/20%/20% distribution.

Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.

Make sure that the target value (above_average) is not in your dataframe.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_full_train, df_test, y_full_train, y_test = train_test_split(df_car, prices, test_size=0.2, random_state=42)

In [14]:
df_train, df_val, y_train, y_val = train_test_split(df_full_train, y_full_train, test_size=0.25, random_state=42)

In [15]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [16]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [17]:
len(y_train), len(y_val), len(y_test)

(7148, 2383, 2383)

Question 3

Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).
Which of these variables has the lowest mutual information score?

- make
- model
- transmission_type
- vehicle_style

In [18]:
from sklearn.metrics import mutual_info_score

In [19]:
categorical = [x for x in df_car.columns if x not in numerical]
categorical

['make', 'model', 'transmission_type', 'vehicle_style']

In [20]:
for c in categorical:
    score = mutual_info_score(df_train[c], y_train)
    print(f"""Mutual Score between {c} and above_average is {round(score, 2)}
""")

Mutual Score between make and above_average is 0.24

Mutual Score between model and above_average is 0.46

Mutual Score between transmission_type and above_average is 0.02

Mutual Score between vehicle_style and above_average is 0.08

Question 4

Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
Fit the model on the training dataset.

To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

- 0.60
- 0.72
- 0.84
- 0.95

In [21]:
from sklearn.feature_extraction import DictVectorizer

In [22]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [23]:
from sklearn.linear_model import LogisticRegression, Ridge

In [24]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [25]:
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [26]:
y_pred = model.predict_proba(X_val)[:, 1]
churn_decision = (y_pred >= 0.5)
accuracy = (y_val == churn_decision).mean()
round(accuracy, 2)

0.95

Question 5

Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

- year
- engine_hp
- transmission_type
- city_mpg

**Note**: the difference doesn't have to be positive

In [27]:
scores = dict()
differences = dict()

for c in df_train.columns:
    columns = [x for x in df_train.columns if x != c]
    numerical_col = [x for x in columns if df_train[x].dtype != 'O']
    categorical_col = [x for x in columns if x not in numerical_col]
    train_dict = df_train[categorical_col + numerical_col].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = df_val[categorical_col + numerical_col].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    model_iter = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model_iter.fit(X_train, y_train)
    
    y_pred = model_iter.predict_proba(X_val)[:, 1]
    churn_decision = (y_pred >= 0.5)
    accuracy_c = (y_val == churn_decision).mean()

    name = 'without '+ c
    scores[name] = accuracy_c
    differences[name] = accuracy_c - accuracy

In [28]:
values = []
keys = []

for k in differences:
    keys.append(k)
    values.append(abs(differences[k]))

keys[np.argmin(values)]

'without city_mpg'

Question 6

For this question, we'll see how to use a linear regression model from Scikit-Learn.
We'll need to use the original column price. Apply the logarithmic transformation to this column.

Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].

Round your RMSE scores to 3 decimal digits.
Which of these alphas leads to the best RMSE on the validation set?

- 0
- 0.01
- 0.1
- 1
- 10

**Note**: If there are multiple options, select the smallest alpha.

In [29]:
alphas = [0, 0.01, 0.1, 1, 10]

In [34]:
from sklearn.metrics import mean_squared_error

In [139]:
df_ridge = data[columns_to_use].copy()

In [140]:
df_ridge.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
dtype: int64

In [141]:
categorical_col, numerical_col

(['make', 'model', 'transmission_type', 'vehicle_style'],
 ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg'])

In [142]:
engine_hp_mean = df_ridge.engine_hp.mean()

In [143]:
engine_cylinders_mode = df_ridge.engine_cylinders.mode()[0]

In [144]:
df_ridge.engine_hp.fillna(engine_hp_mean, inplace=True)
df_ridge.engine_cylinders.fillna(engine_cylinders_mode, inplace=True)

In [145]:
df_ridge.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18

In [146]:
df_ridge.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
dtype: int64

In [147]:
from sklearn.preprocessing import MinMaxScaler

In [148]:
scaler = MinMaxScaler()

In [149]:
y_ridge = df.price

In [150]:
df_ridge.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18

In [151]:
df_full_train_ridge, df_test_ridge, y_full_train_ridge, y_test_ridge = train_test_split(df_ridge, y_ridge, test_size=0.2, random_state=42)
df_train_ridge, df_val_ridge, y_train_ridge, y_val_ridge = train_test_split(df_full_train_ridge, y_full_train_ridge, test_size=0.25, random_state=42)

In [154]:
df_train_ridge = df_train_ridge.reset_index(drop=True)
df_val_ridge = df_val_ridge.reset_index(drop=True)
df_test_ridge = df_test_ridge.reset_index(drop=True)

In [155]:
df_train_numeric = df_train_ridge[numerical_col]
df_val_numeric = df_val_ridge[numerical_col]
df_test_numeric = df_test_ridge[numerical_col]

In [156]:
df_train_categoric = df_train_ridge[categorical_col]
df_val_categoric = df_val_ridge[categorical_col]
df_test_categoric = df_test_ridge[categorical_col]

In [157]:
y_train_ridge = np.log1p(y_train_ridge)
y_val_ridge = np.log1p(y_val_ridge)
y_test_ridge = np.log1p(y_test_ridge)

In [158]:
X_train_numeric = scaler.fit_transform(df_train_numeric)
df_train_numeric = pd.DataFrame(X_train_numeric, columns=numerical_col)
X_val_numeric = scaler.transform(df_val_numeric)
df_val_numeric = pd.DataFrame(X_val_numeric, columns=numerical_col)
X_test_numeric = scaler.transform(df_test_numeric)
df_test_numeric = pd.DataFrame(X_test_numeric, columns=numerical_col)

In [162]:
df_train_ridge = pd.concat([df_train_numeric, df_train_categoric], axis=1)
df_val_ridge = pd.concat([df_val_numeric, df_val_categoric],axis=1)
df_test_ridge = pd.concat([df_test_numeric, df_test_categoric], axis=1)

In [164]:
df_train_ridge.head()

,year,engine_hp,engine_cylinders,highway_mpg,make,model,transmission_type,vehicle_style
0,0.777778,0.179704,0.375,0.020468,Mitsubishi,Endeavor,AUTOMATIC,4dr SUV
1,0.703704,0.233615,0.375,0.026316,Kia,Borrego,AUTOMATIC,4dr SUV
2,0.814815,0.544397,0.625,0.023392,Lamborghini,Gallardo,MANUAL,Convertible
3,0.962963,0.153277,0.250,0.043860,Chevrolet,Colorado,AUTOMATIC,Crew Cab Pickup
4,0.703704,0.108879,0.250,0.040936,Pontiac,Vibe,AUTOMATIC,4dr Hatchback

In [165]:
df_val_ridge.head()

,year,engine_hp,engine_cylinders,highway_mpg,make,model,transmission_type,vehicle_style
0,0.925926,0.163848,0.250,0.055556,Volkswagen,Beetle,MANUAL,2dr Hatchback
1,0.925926,0.316068,0.375,0.035088,Audi,SQ5,AUTOMATIC,4dr SUV
2,0.555556,0.089852,0.250,0.055556,Pontiac,Grand Am,AUTOMATIC,Sedan
3,0.703704,0.265328,0.375,0.035088,Nissan,350Z,MANUAL,Convertible
4,0.222222,0.152220,0.375,0.008772,Ford,E-150,AUTOMATIC,Passenger Van

In [166]:
df_test_ridge.head()

,year,engine_hp,engine_cylinders,highway_mpg,make,model,transmission_type,vehicle_style
0,0.555556,0.232558,0.375,0.017544,GMC,Envoy XL,AUTOMATIC,4dr SUV
1,0.962963,0.121564,0.250,0.076023,Volkswagen,Passat,AUTOMATIC,Sedan
2,0.962963,0.204017,0.375,0.046784,Honda,Odyssey,AUTOMATIC,Passenger Minivan
3,0.925926,0.087738,0.250,0.070175,Chevrolet,Cruze,MANUAL,Sedan
4,0.037037,0.113108,0.250,0.023392,Volvo,740,AUTOMATIC,Sedan

In [167]:
dv = DictVectorizer(sparse=True)

train_dict = df_train_ridge.to_dict(orient='records')
X_train_ridge = dv.fit_transform(train_dict)

val_dict = df_val_ridge.to_dict(orient='records')
X_val_ridge = dv.transform(val_dict)

test_dict = df_test_ridge.to_dict(orient='records')
X_test_ridge = dv.transform(val_dict)

In [169]:
errors = []
for alpha in alphas:
    lr = Ridge(solver='sag',
                random_state=42, alpha=alpha)
    lr.fit(X_train_ridge, y_train_ridge)
    y_pred = lr.predict(X_val_ridge)
    error = mean_squared_error(y_val_ridge, y_pred)
    errors.append(round(error, 3))
    print(f"alpha: {alpha}, error: {round(error, 3)}\n")

print("#"*35)
print(f"Alpha with least error is: {alphas[np.argmin(errors)]}")

alpha: 0, error: 0.054

alpha: 0.01, error: 0.05

alpha: 0.1, error: 0.046

alpha: 1, error: 0.053

alpha: 10, error: 0.104

###################################
Alpha with least error is: 0.1